@inject IJSRuntime _jsRuntime

@implements IDisposable

@page "/intel"

<MudContainer MaxWidth="MaxWidth.Large" Class="mt-16">
    <MudPaper>
        <div id="map" style="height: 80vh; width: 100%; background-color: #ffffff2e; margin: auto;"></div>
    </MudPaper>
</MudContainer>

@code {

    private IJSObjectReference _leafletModule;

    protected override async Task OnInitializedAsync()
    {
        await base.OnInitializedAsync();

        _leafletModule = await _jsRuntime.InvokeAsync<IJSObjectReference>("import", "./Routes/Intel/IntelIndex.razor.js");
        await _leafletModule.InvokeVoidAsync("initMap");
    }
    
    protected override async Task OnAfterRenderAsync(bool firstRender)
    {
        await base.OnAfterRenderAsync(firstRender);

        if (firstRender)
        {
        }
    }
    
    
    public void Dispose()
    {
        _leafletModule.DisposeAsync().GetAwaiter().GetResult();
    }

}